a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
.nav_list {
    margin-right: 2%;
}

.nav_button {
    color: aliceblue;
}

.cover_div {
    padding: 2em;
    border-radius: 1em;
    margin: .8em auto 0 auto;
}

.description_div {
    padding-top: 0.5em;
    height: 7.5em;

}

.description_text {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}