
.vs/PythonSettings.json
.vs/ProjectSettings.json
.vs/resourcesNet/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
db.sqlite3
manage.py
movie/__init__.py
movie/__pycache__/__init__.cpython-37.pyc
movie/__pycache__/admin.cpython-37.pyc
movie/__pycache__/models.cpython-37.pyc
movie/__pycache__/urls.cpython-37.pyc
movie/__pycache__/views.cpython-37.pyc
movie/admin.py
movie/apps.py
movie/migrations/0001_initial.py
movie/migrations/__init__.py
movie/migrations/__pycache__/0001_initial.cpython-37.pyc
movie/migrations/__pycache__/__init__.cpython-37.pyc
movie/models.py
movie/tests.py
movie/urls.py
movie/views.py
resourcesNet/__init__.py
resourcesNet/__pycache__/__init__.cpython-37.pyc
resourcesNet/__pycache__/settings.cpython-37.pyc
resourcesNet/__pycache__/urls.cpython-37.pyc
resourcesNet/__pycache__/wsgi.cpython-37.pyc
resourcesNet/asgi.py
resourcesNet/settings.py
resourcesNet/urls.py
resourcesNet/wsgi.py
