{% extends 'book/mother_page.html' %}
{% block head  %}
{% endblock %}
{% block title  %}
版权声明！！！
{% endblock %}
{% block page_main  %}
<div class="about_text">
    <h1>版权声明</h1>
    <ol>
        <li><strong>本站所有资源搜集于互联网及网友上传，不对内容的合法性承担任何责任。只做个人学习和交流，研究或者欣赏使用，版权归原作者所有，若作商业用途，请购买正版书籍，由于未及时购买和付费发生的侵权行为，与本站无关。</strong></li>
        <li><strong>网站本身并不存储相关资源文件，旨在推荐书籍和kindle电子书。本站所有内容均来自网络公开分享站点的转载和网盘所提供资源的搜集或网友的投稿上传。提供下载的链接也是站外链接，不提供任何视听上传服务。这些书籍（kindle电子书）和插图，本站并无版权，所以请大家不要转载和用于商业用途。</strong></li>
        <li><strong>本站无意侵犯任何人的版权，本站所提供的书籍视频等内容均来自分享站点提供的公开引用资源。由于个人精力有限有时并未对投稿内容仔细审查，如有侵犯您的版权或触犯法律的内容请发邮件到<a href='mailto:bookgruel@gmail.com'>bookgruel@gmail.com</a>，站长核实后会第一时间移除。</strong></li>

    </ol>
    <br />
    <br />
    <p><strong>注：</strong></p>
    <ol>
        <li><strong>版权归各个资源/资讯原作者及开发商所有；</strong></li>
        <li><strong>只能用于浏览/参考/学习交流/研究欣赏/使用；</strong></li>
        <li><strong>不得使用任何资源/资讯进行出售、贩卖，违者后果自负。</strong></li>

    </ol>



</div>
{% endblock %}