<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/static/book/css/main.css" rel="stylesheet" />
    <link href="/static/book/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="nav">
        <img src="/static/book/images/logo.png" class="logo" />
        <ul>
            <li><a href="#">content</a></li>
            <li><a href="#">content</a></li>
            <li><a href="#">content</a></li>
            <li><a href="#">content</a></li>
            <li><a href="#">content</a></li>
        </ul>
    </nav>
    <h1>{{informatiom}}</h1>
    {% if information %}
    {% for i in information %}
    <div class="inf_div">
        <a href="">
            <img src="{{i.封面链接}}" alt="Alternate Text" />
            <div class="inf_text">
                <h2><i class="fa fa-book-open" aria-hidden="true"></i>{{ i.书名 }}</h2>
                <p>{{i.简介}}</p>
            </div>
        </a>
        <div class="inf_link">
            <a href="#"><span><i class="fas fa-download" aria-hidden="true"></i>立即下载</span></a>
        </div>
    </div>

    {% endfor %}
    {% endif %}
    <div class="page_foot">

    </div>
</body>
</html>